
<div>

  <h4>マイページ</h4>

  <div>
    <div class="space_15 flex">
      <div class="big-font font_weight col-2">登録情報</div>
      <%= link_to "編集する", customers_infomation_edit_path, class: 'btn btn-success' %>
    </div>

    <table class="space_30">

      <tr>
        <th class="table-boder">氏名</th>
        <td class="table-boder"><%= @customer.first_name %>　<%= @customer.last_name %></td>
      </tr>

      <tr>
        <th class="table-boder">カナ</th>
        <td class="table-boder"><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></td>
      </tr>

      <tr>
        <th class="table-boder">郵便番号</th>
        <td class="table-boder"><%= @customer.postal_code %></td>
      </tr>

      <tr>
        <th class="table-boder">住所</th>
        <td class="table-boder"><%= @customer.address %></td>
      </tr>

      <tr>
        <th class="table-boder">電話番号</th>
        <td class="table-boder"><%= @customer.telephone_number %></td>
      </tr>

      <tr>
        <th class="table-boder">メールアドレス</th>
        <td class="table-boder"><%= @customer.email %></td>
      </tr>

    </table>

    <div class="flex space_15">
      <div class="big-font font_weight col-2">配送先</div>
      <%= link_to "一覧を見る", addresses_path, class: 'btn btn-primary' %>
    </div>

    <div class="flex">
      <div class="big-font font_weight col-2">注文履歴</div>
      <%= link_to "一覧を見る", orders_path, class: 'btn btn-primary' %>
    </div>

  </div>

</div>