
<div class="container">

  <h4 class="ml-5">マイページ</h4>

  <div>
    <div class="row space_15">
        <h4 class="col-2 font_weight">登録情報</h4>
        <%= link_to "編集する", customers_infomation_edit_path, class: 'btn btn-success' %>
    </div>

    <table class="space_30">

      <tr>
        <th>氏名</th>
        <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
      </tr>

      <tr>
        <th>カナ</th>
        <td><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>

    </table>

    <div class="row space_15">
      <h4 class="col-2 font_weight">配送先</h4>
      <%= link_to "一覧を見る", addresses_path, class: 'btn btn-primary col-2' %>
    </div>

    <div class="row space_15">
      <h4 class="col-2 font_weight">注文履歴</h4>
      <%= link_to "一覧を見る", orders_path, class: 'btn btn-primary col-2' %>
    </div>

  </div>

</div>