
<div class="flex">
<h4>商品一覧</h4>

<div class="right">
  <%= link_to(new_admin_item_path, class: 'shadow') do %>
    <i class="fa-regular fa-plus maru font-size"></i>
  <% end %>
</div>
</div>

<table class="top-bottom-border center space_15">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id), class: 'black-link' %></td>
      <td><%= item.price.to_s(:delimited, delimiter: ",") %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_active %>
          <div class="true">販売中</div>
        <% else %>
          <div class="false">販売停止中</div>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>

</table>

<div class="text-center">
  <div class="page">
    <%= paginate @items %>
  </div>
</div>