<h4>商品新規登録</h4>

<%= form_with model: @item, url: admin_items_path do |f| %>

<div class="width-100p col-6 center">

  <table>
    <tr>
      <th class="col-4 no-table-border no-deco">商品画像</th>
      <td class="no-table-border"><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <th class="col-4 no-table-border no-deco">商品名</th>
      <td class="no-table-border"><%= f.text_field :name, placeholder: "商品名", class: 'width-100p' %></td>
    </tr>
    <tr>
      <th class="col-4 no-table-border no-deco top">商品説明</th>
      <td class="no-table-border"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: 'width-100p form-big' %></td>
    </tr>
    <tr>
      <th class="col-4 no-table-border no-deco">ジャンル</th>
      <td class="no-table-border"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--", class: 'width-100p' %></td>
    </tr>
    <tr>
      <th class="col-4 no-table-border no-deco">税抜価格</th>
      <td class="no-table-border"><%= f.number_field :price, placeholder: "1000", class: 'width-100p' %></td>
      <td class="no-table-border">円</td>
    </tr>
    <tr>
      <th class="col-4 no-table-border no-deco">販売ステータス</th>
      <td class="no-table-border">
        <div class="flex">
          <div class="right-space">
            <%= f.radio_button :is_active, true %>
            <label>販売中</label>
          </div>
          <div>
            <%= f.radio_button :is_active, false %>
            <label>販売停止中</label>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="text-center">
    <%= f.submit '新規登録', class: 'btn btn-success col-3' %>
  </div>

</div>

<% end %>