<h4><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h4>


<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

<div>
  <label class="col-2">会員ID</label>
  <%= @customer.id %>
</div>

<div>
  <label class="col-2">氏名</label>
  <%= f.text_field :first_name, class: "right-space" %> <%= f.text_field :last_name %>
</div>

<div>
  <label class="col-2">フリガナ</label>
  <%= f.text_field :first_name_kana, class: "right-space" %> <%= f.text_field :last_name_kana %>
</div>

<div>
  <label class="col-2">郵便番号</label>
  <%= f.number_field :postal_code %>
</div>

<div>
  <label class="col-2">住所</label>
  <%= f.text_area :address, class: "form-long" %>
</div>

<div>
  <label class="col-2">電話番号</label>
  <%= f.number_field :telephone_number %>
</div>

<div>
  <label class="col-2">メールアドレス</label>
  <%= f.text_field :email %>
</div>

<div class="flex space_30">
  <label class="col-2">会員ステータス</label>
  <div>
    <%= f.radio_button :is_active, true %>
    <label class="right-space">有効</label>
  </div>
  <div>
    <%= f.radio_button :is_active, false %>
    <label>退会</label>
  </div>
</div>

<div class="row">
  <div class="col-2"></div>
  <%= f.submit '変更を保存', class: 'btn btn-success col-2' %>
</div>

<% end %>