

<h4>会員一覧</h4>

<div class="width-100p">

  <table class="top-bottom-border center space_15 width-70p">
    <thead>
      <tr>
        <th class="no-table-border">会員ID</th>
        <th class="no-table-border">氏名</th>
        <th class="no-table-border">メールアドレス</th>
        <th class="no-table-border">ステータス</th>
      </tr>
    </thead>
    <% @customers.each do |customer| %>
    <tbody>
      <tr class="top-bottom-border">
        <td class="no-table-border"><%= customer.id %></td>
        <td class="no-table-border">
          <%= link_to(admin_customer_path(customer.id), class: 'black-link') do %>
            <%= customer.last_name %>
            <%= customer.first_name %>
          <% end %>
          </td>
        <td class="no-table-border"><%= customer.email %></td>
        <td class="no-table-border">
          <% if customer.is_active %>
            <div class="true">有効</div>
          <% else %>
            <div class="false">退会</div>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <div class="text-center">
    <div class="page">
      <%= paginate @customers %>
    </div>
  </div>

</div>