
<h1><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h1>

<table>

  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>会員ステータス</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @customer.id %></td>
      <td><%= @customer.first_name %> <%= @customer.last_name %></td>
      <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
      <td><%= @customer.postal_code %></td>
      <td><%= @customer.address %></td>
      <td><%= @customer.telephone_number %></td>
      <td><%= @customer.email %></td>
      <td><%= @customer.is_active ? '有効' : '退会' %></td>
    </tr>
  </tbody>

</table>

<div><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></div>
<div>注文履歴一覧を見る</div>