
<h4><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h4>

<table class="width-100p">

  <tr>
    <th class="no-deco no-table-border width-20p">会員ID</th>
    <td class="no-table-border"><%= @customer.id %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">氏名</th>
    <td class="no-table-border"><%= @customer.first_name %> <%= @customer.last_name %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">フリガナ</th>
    <td class="no-table-border"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">郵便番号</th>
    <td class="no-table-border"><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">住所</th>
    <td class="no-table-border"><%= @customer.address %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">電話番号</th>
    <td class="no-table-border"><%= @customer.telephone_number %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">メールアドレス</th>
    <td class="no-table-border"><%= @customer.email %></td>
  </tr>
  <tr>
    <th class="no-deco no-table-border">会員ステータス</th>
    <td class="no-table-border">
      <% if @customer.is_active %>
        <div class="true">有効</div>
      <% else %>
        <div class="false">退会</div>
      <% end %>
    </td>

  </tr>

</table>

<div class="row">
  <div class="col-2"></div>
  <div class="col-3"><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success none-border' %></div>
  <div><%= link_to "注文履歴一覧を見る", admin_orders_path, class: 'btn btn-primary none-border' %></div>
</div>