<h1>注文履歴詳細</h1>

<div>
  <label>購入者</label>
  <%= link_to(admin_customers_path(@order.customer.id)) do %>
    <%= @order.customer.first_name %><%= @order.customer.last_name %>
  <% end %>
</div>

<div>
  <label>注文日</label>
  <%= @order.created_at.strftime('%Y/%m/%d') %>
</div>

<div>
  <label>配送先</label>
  <%= @order.address_display %>
</div>

<div>
  <label>支払い方法</label>
  <%= @order.payment_method %>
</div>

<div>
  <label>注文ステータス</label>
  <%= @order.status %>
</div>


<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th colspan="1"></th>
    </tr>
  </thead>


  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.with_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.subtotal %></td>
      <td><%= order_detail.making_status %></td>
      <% @total += order_detail.subtotal %>
      <td></td>
    </tr>
    <% end %>
  </tbody>

</table>

<div>
  <label>商品合計</label>
  <%= @total %>
</div>

<div>
  <label>送料</label>
  <%= @shipping_cost %>
</div>

<div>
  <label>請求金額合計</label>
  <%= @total + @shipping_cost %>
</div>