<h4>ジャンル一覧・追加</h4>

<div class="space_30">
  <%= form_with model: @genre, url: admin_genres_path do |f| %>
  <div class="row">
    <label class="col-2 top-bottom-text-center">ジャンル名</label>
    <%= f.text_field :name, class: 'col-3 right-space-big', placeholder: "ジャンル名" %>
    <%= f.submit '新規登録', class: 'btn btn-success' %>
  <% end %>
  </div>
</div>

<div>
  <table class="col-5">
    <thead>
      <tr class="bottom-border">
        <th class="text-center no-table-border">ジャンル</th>
        <th colspan="1" class="no-table-border"></th>
      </tr>
    </thead>
    <% @genres.each do |genre| %>
    <tbody>
      <tr class="bottom-border">
        <td class="no-table-border">
          <%= genre.name %>
        </td>
        <td class="genre-space no-table-border cell-center">
          <%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success none-border' %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>