<h4>新規登録</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div>

  <div class="field">
    <label class="col-3">名前</label>
    (性)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'col-3' %>
    (名)<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'col-3' %>
  </div>

  <div class="field">
    <label class="col-3">フリガナ</label>
    (セイ)<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: 'col-3' %>
    (メイ)<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: 'col-3' %>
  </div>

  <div class="field">
    <label class="col-3">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-3' %>
  </div>

  <div class="field">
    <label class="col-3">郵便番号(ハイフンなし)</label>
    <%= f.number_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'col-3' %>
  </div>

  <div class="field">
    <label class="col-3">住所</label>
    <%= f.text_area :address, autofocus: true, autocomplete: "address", class: 'form-long' %>
  </div>

  <div class="field">
    <label class="col-3">電話番号(ハイフンなし)</label>
    <%= f.number_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: 'col-3' %>
  </div>

  <div class="field">
    <label class="col-3">パスワード(6文字以上)</label>
    <%= f.password_field :password, autocomplete: "new-password", class: 'col-3' %>
  </div>

  <div class="field">
    <label class="col-3">パスワード(確認用)</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'col-3' %>
  </div>

  <div class="actions row">
    <div class="col-3"></div>
    <%= f.submit "新規登録", class: 'col-3' %>
  </div>

</div>
<% end %>

<h4>既に登録済みの方</h4>

<%= render "public/shared/links" %>からログインしてください。
