<h1>注文履歴詳細</h1>

<div>
  <h4>注文情報</h4>
  <div>
    <label>注文日</label>
    <%= @order.created_at.strftime('%Y/%m/%d') %>
  </div>
  <div>
    <label>配送先</label>
    〒 <%= @order.postal_code %><br>
    <%= @order.address %><br>
    <%= @order.name %>
  </div>
  <div>
    <label>支払方法</label>
    <%= @order.payment_method_i18n %>
  </div>
  <div>
    <label>ステータス</label>
    <%= @order.status_i18n %>
  </div>
</div>

<div>
  <h4>注文内容</h4>
  <table>
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>

    <% @order.order_details.each do |order_detail| %>

    <tbodu>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
        <% @total += order_detail.subtotal %>
      </tr>
    </tbodu>
    <% end %>
  </table>
</div>


<div>
  <h4>請求情報</h4>
  <div>
    <label>商品合計</label>
    <%= @total %>
  </div>
  <div>
    <label>配送料</label>
    <%= @shipping_cost %>
  </div>
  <div>
    <label>ご請求額</label>
    <%= @total + @shipping_cost %>
  </div>
</div>