<h4>ログイン</h4>

<div class="space_60">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <h4>会員の方はこちらからログイン</h4>

  <div class="width-100p">
    <table class="center width-70p">
      <tbody class="width-100p">
      <tr>
        <th class="no-deco no-table-border width-20p">メールアドレス</th>
        <td class="no-table-border"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sumple.@example.com", class: 'width-70p' %></td>
      </tr>
      <tr>
        <th class="no-deco no-table-border">パスワード</th>
        <td class="no-table-border"><%= f.password_field :password, autocomplete: "current-password", autocomplete: "current-password", class: 'width-70p' %></td>
      </tr>
      <tr>
        <th class="no-deco no-table-border"></th>
        <td class="no-table-border"><%= f.submit "ログイン", class: 'btn btn-primary width-20p' %></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<% end %>

<h4>会員登録がお済みでない方</h4>
<%= render "public/shared/links" %>

</div>

