

<div class="flex space_30">
<h2 class="bottom-send">商品一覧</h2>
<div class="bottom-send">&nbsp;(全<%= Item.all.count %>件)</div>
</div>

<div class="flex item-index">

  <% @items.each do |item| %>

  <div class="item">

    <div>
      <%= link_to(item_path(item.id)) do %>
        <%= image_tag item.get_image(300, 150), class: 'item-size picture-space' %>
      <% end %>
    </div>
    <div class="font_weight"><%= item.name %></div>
    <div class="font_weight">￥<%= item.price %></div>

  </div>

  <% end %>

</div>

<div class="text-center">
  <div class="page">
    <%= paginate @items %>
  </div>
</div>